<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.tiktukcordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook type="before_prepare" src="scripts/prebuild.js" />
    <name>Tiktuk</name>
    <description>Tiktuk Cordova App</description>
    <author email="meteofix@gmail.com" href="https://github.com/meteofix">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
